.primary-sections-wrapper .base-section .base-section__content {
  padding: 88px 80px 20px 80px;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 38px;
  position: relative;
  gap: 16px;
}

@media screen and (max-width: 1919px) {
  .primary-sections-wrapper .base-section .base-section__content {
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 1365px) {
  .primary-sections-wrapper .base-section .base-section__content {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 1023px) {
  .primary-sections-wrapper .base-section .base-section__content {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 767px) {
  .primary-sections-wrapper .base-section .base-section__content {
    margin-bottom: 21px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-height: 480px) {
  .primary-sections-wrapper .base-section .base-section__content {
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 7.5px;
    margin-bottom: 7.5px;
  }
}
@media screen and (max-width: 567px) and (max-height: 480px) {
  .primary-sections-wrapper .base-section .base-section__content {
    padding-bottom: 7.5px;
    margin-bottom: 7.5px;
  }
}
@media screen and (max-width: 479px) {
  .primary-sections-wrapper .base-section .base-section__content {
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 7.5px;
    margin-bottom: 7.5px;
  }
}
