#first_section_wrapper #cloud_wrapper {
  position: relative;
}

#first_section_wrapper #cloud_wrapper .cloud_cards_container {
  display: flex;
  overflow-x: scroll;
  padding: 0 48px 10px 48px;
  gap: 1rem;
}

