main .desc-section .desc-section__content {
  display: flex;
  width: 100%;
  padding: 32px 48px;

  .x{
    display: flex;
    gap: 1rem;
  }

  .sm-text{
    display: none;
  }

  .desc-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    color: white;
    // font-weight: 500;
    border-radius: 4px;
    border: none;
    text-align: initial;
    background-color: #2d3036;
    cursor: pointer;

    &::after {
      content: "";
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }

    &:hover::after {
      background-color: #ffffff1a;
    }

    &:active::after {
      background-color: #0000001a;
    }

    &__img img {
      height: 224px;
      width: fit-content;
      border-radius: 4px;
      border-style: none;
      overflow-clip-margin: content-box;
      overflow: clip;
    }

    a {
      text-decoration: none;
    }

    &__body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 103px;
      fill: #fff;
      color: #fff;
      padding: 16px;
      width: 100%;

      &-left {
        margin: 0;
        // overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 16px;
        min-width: 103px;

        p {
          text-align: justify;
        }
       
        &--text {
          font-family: "Segoe Ui", Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: unset;
          line-height: 24px;
          margin: 1rem auto;
          text-overflow: ellipsis;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 6;
       display: -webkit-box;
           overflow: hidden;
       word-wrap: break-word;
          &-up{
            margin-bottom: 20px;
          }
      }
    }

      &-showmore {
        .svg-body--arrow {
          margin: 0px 0px 2px 4px;
          height: 16px;
          width: 16px;
        }

        &--text,
        .svg-body {
          vertical-align: middle;
          display: inline-block;
        }

        &--text {
          font-family: "Bahnschrift Semibold", Arial, Helvetica, sans-serif;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 139px;
        flex: 1;
       

        &1--up,
        &2--up,
        &3--up {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 1919px) {
  main .sections-wrapper .desc-section {
    padding: 0px 80px;
  }

  @media (min-width: 1366px) and (min-height: 481px) {
    main
      .sections-wrapper
      .desc-section
      .desc-section__content
      .desc-button
      .desc-button__body-right {
      flex: 1;
      flex-direction: row;
      min-width: 311px;
    }

    .desc-button__body-left {
      flex: 1;
    }
    .desc-section__content {
      width: 100%;
    }

    @media (min-width: 1024px) and (min-height: 481px) {
      main
        .sections-wrapper
        .desc-section
        .desc-section__content
        .desc-button
        .desc-button__body-right {
        min-width: 213px;
      }
    }
  }

  @media (min-width: 767px) and (max-height: calc(481px)) {
    main .sections-wrapper .desc-section {
      padding: 0px 32px;
    }
    .desc-button__body-right {
      min-width: 160px;
    }

    .desc-button__body-left__text {
      -webkit-line-clamp: 7;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
  }

  @media (min-width: 568px) and (max-height: 480px) {
    // main .sections-wrapper .desc-section .desc-button {
    //   display: block;
    // }

    // .desc-button__img {
    //   height: 364px;
    // }

    
  

    .desc-button__img {
      height: 431px;
    }

    .desc-button__body-left {
      max-width: 1920px;
      left: 50%;
      align-items: center;
      position: absolute;
      top: 0;
      transform: translate(-50%);
      width: 100%;
      z-index: -1;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      display: block;
    }
  }
}

@media (max-width: 568px){
  .desc-button{
    flex-direction: column !important;
    padding: 1rem !important;
  }

  .desc-button__body-right{
    display: none !important;
  }

  .x{
    padding: 20px;
  }

  .sm-text{
      display: flex !important;
      flex-direction: column;
      justify-content: space-around;
      min-width: 139px;

      &1--up,
      &2--up,
      &3--up {
        font-weight: bold;
      }
  }
}

@media (max-width: 479px) and (max-height: 480px) {
  main .sections-wrapper .desc-section {
    padding: 0px 16px;
  }
}






























// main {
//   .sections-wrapper {
//     .desc-section {
//       .desc-section__content {
//         width: 100%;
//         padding: 0 48px;

//         .desc-button {
//           display: flex;
//           // flex-direction: row;
//           // justify-content: space-between;
//           width: 100%;
//           position: relative;
//           color: white;
//           font-weight: 500;
//           border-radius: 4px;
//           border: none;
//           text-align: initial;
//           background-color: #2d3036;
//           cursor: pointer;

//           &__img img {
//             display: flex;
//             height: 224px;
//             border-radius: 4px;
//             vertical-align: middle;
//             border-style: none;
//           }

//           a {
//             text-decoration: none;
//           }

//           &:hover a {
//             background-color: rgba(255, 255, 255, 0.35);
//           }

//           &:active a {
//             background-color: #222428;
//           }

//           &__body {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//             min-width: 103px;
//             fill: #fff;
//             color: #fff;
//             padding: 16px;
//             width: 100%;

//             &-left {
//               margin: 0;
//               overflow: hidden;
//               display: flex;
//               flex-direction: column;
//               justify-content: space-between;
//               margin-right: 16px;
//               min-width: 103px;

//               &--text {
//                 font-family: "Segoe Ui", Arial, Helvetica, sans-serif;
//                 font-size: 16px;
//                 font-weight: unset;
//                 line-height: 24px;
//               }
//             }

//             &-showmore {
//               .svg-body--arrow {
//                 margin: 0px 0px 2px 4px;
//                 height: 16px;
//                 width: 16px;
//               }

//               &--text,
//               .svg-body {
//                 vertical-align: middle;
//                 display: inline-block;
//               }

//               &--text {
//                 font-family: "Bahnschrift Semibold", Arial, Helvetica, sans-serif;
//                 font-size: 14px;
//                 line-height: 18px;
//                 text-transform: uppercase;
//               }
//             }

//             &-right {
//               display: flex;
//               flex-direction: column;
//               justify-content: space-around;
//               min-width: 139px;

//               &1--up,
//               &2--up,
//               &3--up {
//                 font-weight: bold;

//               }

//             }

//           }
//         } &::after {
//           content: "";
//           right: 0;
//           left: 0;
//           top: 0;
//           bottom: 0;
//           position: absolute;
//         }

//         &:hover::after {
//           background-color: #ffffff1a;
//         }

//         &:active::after {
//           background-color: #0000001a;
//         }

//       }
//     }
//   }
// }

// @media (min-width: 1366px) and (min-height: 481px) {
//   main {
//     .sections-wrapper {
//       .desc-section {
//         .desc-section__content {
//           .desc-button {
//             .desc-button__body-right {
//               flex: 1 1;
//               flex-direction: row;
//               min-width: 311px;
//             }

//             .desc-button__body-left {
//               flex: 1;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (min-width: 1024px) and (min-height: 481px) {
//   main {
//     .sections-wrapper {
//       .desc-section {
//         .desc-section__content {
//           .desc-button {
//             .desc-button__body-right {
//               min-width: 213px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (min-width: 768px) and (min-height: 481px) {
//   main {
//     .sections-wrapper {
//       .desc-section {
//         .desc-section__content {
//           .desc-button {
//             .desc-button__body-right {
//               min-width: 160px;
//             }

//             .desc-button__body-left__text {
//               -webkit-line-clamp: 6;
//               display: -webkit-box;
//               text-overflow: ellipsis;
//               overflow: hidden;
//               -webkit-box-orient: vertical;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 479px) and (max-height: 480px) {
//   main {
//     .sections-wrapper {
//       .desc-section {
//         .section-text {
//           padding-left: 16px;
//           padding-right: 16px;
//         }
//       }
//     }
//   }
// }

// @media (min-width: 568px) and (max-height: 480px) {
//   main {
//     .sections-wrapper {
//       .desc-section {
//         .desc-button {
//           display: block;
//         }

//         .desc-button__img {
//           height: 364px;
//         }

//         .desc-button__img {
//           height: 431px;
//         }

//         .desc-button__body {
//           max-width: 1920px;
//           left: 50%;
//           align-items: center;
//           overflow: hidden;
//           pointer-events: none;
//           position: absolute;
//           top: 0;
//           transform: translate(-50%);
//           width: 100%;
//           z-index: -1;
//         }
//       }
//     }
//   }
// }
