$hover-color: hsla(0, 0%, 100%, 0.9);
$text-color: #a7a7a7;

footer .footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  &__content {
    padding: 0 5%;
    max-width: calc(1600px + 10%);
    width: 100%;
    margin: 36px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h3 {
      color: $text-color;
      font-size: 15px;
      padding-bottom: 4px;
      font-weight: 500;
      &:hover {
        color: $hover-color;
      }
    }
    a {
      font-size: 11px;
      color: $text-color;
      text-decoration: none;
      line-height: 1rem;
      padding: 8px 0;
      width: fit-content;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -6px;
        right: -6px;
        top: 2px;
        bottom: 3px;
      }
      &:hover {
        text-decoration: underline;
        color: $hover-color;
      }
      &:focus:after {
        border: 3px solid $hover-color;
        border-style: dotted;
      }
    }
    .footer__column {
      width: 16.66666666666667%;
      display: flex;
      flex-direction: column;
      padding: 0 12px;
      &--explore {
        padding-left: 0;
      }
      &--devs {
        padding: 0;
      }
    }
  }
  .footer__row {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 30px 5% 18px;
    width: 100%;
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    flex-wrap: wrap;
    .footer__lang a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $text-color;
      text-decoration: none;
      font-size: 11px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -6px;
        right: -30px;
        top: -6px;
        bottom: -6px;
      }
      &:hover {
        text-decoration: underline;
        color: $hover-color;
      }
      &:focus:after {
        border: 3px solid $hover-color;
        border-style: dotted;
      }
      svg {
        fill: $text-color;
        width: 20px;
        height: 24px;
      }
      &:hover svg {
        fill: $hover-color;
      }
    }
    .footer__links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 3px 0;
      gap: 4px 27px;
      a {
        color: $text-color;
        text-decoration: none;
        font-size: 11px;
        line-height: 1rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: -6px;
          right: 22px;
          top: -6px;
          bottom: -1px;
        }
        &:hover {
          text-decoration: underline;
          color: $hover-color;
        }
        &:focus:after {
          border: 3px solid $hover-color;
          border-style: dotted;
        }
      }
      p {
        color: $text-color;
        font-size: 11px;
        line-height: 1rem;
        padding-right: 24px;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1083px) {
  footer .footer {
    .footer__content {
      padding: 0 12px;
      .footer__column {
        width: 33.33333333333333%;
        padding: 0 12px;
        &--explore,
        &resource,
        &--store {
          padding-bottom: 36px;
        }
      }
    }
    .footer__row {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

@media screen and (max-width: 1572px) {
  footer .footer .footer__row {
    padding-top: 31px;
  }
}

@media screen and (max-width: 1023px) {
  footer .footer .footer__row {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  footer .footer .footer__row {
    padding-top: 28px;
    padding-bottom: 16px;
    .footer__links {
      margin-top: 20px;
      gap: 6px 13px;
      a,
      p {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 539px) {
  footer .footer {
    .footer__content {
      .footer__column {
        width: 100%;
      }
    }
    .footer__row {
      padding-left: 24px;
      padding-right: 24px;
      .footer__links a {
        &:first-child,
        &:nth-child(5),
        &:nth-child(8) {
          padding-left: 0;
        }
      }
    }
  }
}
