#gamepass_container {
  background-color: #1a1b1e;
  position: relative;
  z-index: -1;
}

#gamepass_container::before {
    content: "";
  background: linear-gradient(-180deg, #133c2a 0, #1a1b1e 100%);
  height: 456px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#gamepass_container #gamepass_img_container {
  display: flex;
  justify-content: center;
}

#gamepass_container #gamepass_img_container svg {
  height: 27px;
  width: 157px;
  fill: white;
  background-color: transparent;
  margin: 39px 0 32px 0;
}

@media screen and (max-width: 1365px) {
  #gamepass_container #gamepass_background {
    height: 357px;
  }
}

@media screen and (min-width: 1920px){
#gamepass_container #gamepass_img_container svg {
    margin-bottom: 40px;
  }
}