.gamepass__wrapper {
  background-color: #1a1b1e;
  position: relative;
  z-index: 0;
}

.gamepass__wrapper::before {
  content: "";
  background: linear-gradient(-180deg, #133c2a 0, #1a1b1e 100%);
  height: 456px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.gamepass__wrapper .gamepass__img {
  display: flex;
  justify-content: center;
}

.gamepass__wrapper .gamepass__img svg {
  height: 27px;
  width: 157px;
  fill: white;
  background-color: transparent;
  margin: 39px 0 32px 0;
}

@media screen and (max-width: 1365px) {
  .gamepass__wrapper::before {
    height: 357px;
  }
}

@media screen and (min-width: 1920px) {
  .gamepass__wrapper .gamepass__img svg {
    margin-bottom: 40px;
  }
}
