nav #nav_wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 23px 48px 24px 42px;
}

nav #nav_wrapper #nav_left {
    display: flex;
    gap: 40px;
}

nav #nav_wrapper #nav_left button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 1px;
}

nav #nav_wrapper #nav_left button svg {
    fill:white;
    background-color: transparent;
}

nav #nav_wrapper #nav_left button:hover {
    background-color: #515863;
}

nav #nav_wrapper #nav_left a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-family: Bahnschrift semibold;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 8px;
    padding-top: 2px;
    color: white;
}

nav #nav_wrapper #nav_left a svg {
    fill: white;
    background-color: transparent;
    margin-left: 8px;
    margin-bottom: 4px;
}

nav #nav_wrapper #nav_left a:hover {
    background-color: #515863;
}

nav #nav_wrapper #nav_right {
    display: flex;
    gap: 15px;
}

nav #nav_wrapper #nav_right form button {
    background-color: transparent;
    display: none;
}

nav #nav_wrapper #nav_right form button:hover {
    background-color: #515863;
}


nav #nav_wrapper #nav_right form #search_bar_container {
    min-width: 290px;
    height: calc(100% + 1px);
    border: 1px solid #6B7584;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    display: flex;
    align-items: center;
    background-color: #000000b3;
    position: relative;
}

nav #nav_wrapper #nav_right form #search_bar_container::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    right: -6px;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

nav #nav_wrapper #nav_right form #search_bar_container:focus-within:after {
    border: 2px solid white;
}

nav #nav_wrapper #nav_right form #search_bar_container svg {
    fill: #ffffffa6;
    margin: 1px 18px 1px 16px;
}

nav #nav_wrapper #nav_right form #search_bar_container input#search  {
    height: 100%;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    padding-top: 1px;
    caret-color: #008746;
    z-index: 1;
    color: #ffffffa6;
}

nav #nav_wrapper #nav_right form #search_bar_container input#search::selection {
    background-color: #008746;
    color: white;
}

nav #nav_wrapper #nav_right form #search_bar_container input#search::placeholder {
    color: #ffffffa6;
}

nav #nav_wrapper #nav_right form #search_bar_container input::-webkit-search-cancel-button {
    display: none;
}

nav #nav_wrapper #nav_right button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
    border-radius: 100%;
    background-color: #484e58;
    border: none;
    cursor: pointer;
    margin-top: 1px;
}

nav #nav_wrapper #nav_right button svg {
    fill: white;
}

nav #nav_wrapper #nav_right button:hover {
    background-color: #515863;
}