.primary-sections-wrapper {
  position: relative;
  background-color: #1a1b1e;
}

.primary-sections-wrapper::before {
  content: "";
  background-image: linear-gradient(-180deg, #1b1d1e8c 0, #1a1b1e 100%),
    url(../../../assets/images/Card\ Grandi/nfs.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 678px;
  position: absolute;
}

@media screen and (max-width: 1919px) {
  .primary-sections-wrapper::before {
    background-image: linear-gradient(
        -180deg,
        #1b1d1e8c 0,
        #1a1b1e calc(28.125vw + 140.5px)
      ),
      url(../../../assets/images/Card\ Grandi/nfs.jpg);
  }
}

@media screen and (max-width: 1365px) {
  .primary-sections-wrapper::before {
    min-height: 450px;
    background-image: linear-gradient(
        -180deg,
        #1b1d1e8c 0,
        #1a1b1e calc(28.125vw + 160.5px)
      ),
      url(../../../assets/images/Card\ Grandi/nfs.jpg);
  }
}

@media screen and (max-width: 767px) {
  .primary-sections-wrapper::before {
    min-height: 450px;
    background-image: linear-gradient(
        -180deg,
        #1b1d1e8c 0,
        #1a1b1e calc(32.5vw + 192px)
      ),
      url(../../../assets/images/Card\ Grandi/nfs.jpg);
  }
}

@media screen and (max-width: 479px) {
  .primary-sections-wrapper::before {
    min-height: initial;
    max-height: 678px;
    height: calc(72.5vw + 152px);
    background-image: linear-gradient(-180deg, #1b1d1e8c 0, #1a1b1e 100%),
      url(../../../assets/images/Card\ Grandi/nfs.jpg);
  }
}
