main .sections-wrapper .language-section .language-section__content {
  width: 100%;
  padding: 0 48px;
}
main .sections-wrapper .language-section .language-section__content .language-button {
  width: 100%;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #2d3036;
  overflow: hidden;
  cursor: pointer;
}
main .sections-wrapper .language-section .language-section__content .language-button__main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__head {
  padding-bottom: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 100;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__head span {
  flex-basis: 0;
  text-align: center;
  flex-grow: 1;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__head span:first-child {
  flex-grow: 2;
  flex-basis: 0;
  text-align: left;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body {
  padding: 8px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body:last-child {
  position: relative;
  border-bottom: none;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body:last-child::before {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(45, 48, 54, 0.4) 0%, rgb(45, 48, 54) 80%);
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body span {
  text-align: left;
  flex-grow: 2;
  flex-basis: 0;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body-svg--first {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-basis: 0;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body-svg--first svg {
  width: 20px;
  height: 20px;
  fill: white;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body-svg--second {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-basis: 0;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body-svg--second svg {
  width: 20px;
  height: 20px;
  fill: white;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body-svg--third {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-basis: 0;
}
main .sections-wrapper .language-section .language-section__content .language-button__main .language-button__body-svg--third svg {
  width: 20px;
  height: 20px;
  fill: white;
}
main .sections-wrapper .language-section .language-section__content .language-button__footer {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-size: 14px;
}
main .sections-wrapper .language-section .language-section__content .language-button__footer svg {
  height: 16px;
  width: 16px;
  margin-left: 5px;
  fill: white;
}
main .sections-wrapper .language-section .language-section__content .language-button::after {
  content: "";
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
main .sections-wrapper .language-section .language-section__content .language-button:hover::after {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
main .sections-wrapper .language-section .language-section__content .language-button:active::after {
  background-color: rgba(0, 0, 0, 0.1019607843);
}/*# sourceMappingURL=prova.css.map */