main .gamepass-wrapper .sna-section {
  padding-bottom: 9.5px;
  &__content {
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
    overflow-x: scroll;
    padding: 0 80px 9.5px 80px;
  }
}

@media screen and (max-width: 1919px) {
  main .gamepass-wrapper .sna-section .sna-section__content {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1365px) {
  main .gamepass-wrapper .sna-section {
    &,
    &__content {
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: 767px) {
  main .gamepass-wrapper .sna-section .sna-section__content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-height: 480px) {
  main .gamepass-wrapper .sna-section .sna-section__content {
    padding-left: 16px;
    padding-right: 16px;
  }
  main .gamepass-wrapper .sna-section {
    &,
    &__content {
      padding-bottom: 9.5px;
    }
  }
}

@media screen and (max-width: 567px) and (max-height: 480px) {
  main .gamepass-wrapper .sna-section {
    &,
    &__content {
      padding-bottom: 7px;
    }
  }
}

@media screen and (max-width: 479px) {
  main .gamepass-wrapper .sna-section {
    &,
    & .sna-section__content {
      padding-bottom: 7px;
    }
  }

  main .gamepass-wrapper .sna-section .sna-section__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
