body {
    padding: 0;
    margin: 0;
}

#background_container {
    height: 900px;
    border: 2px solid black;
}

#background_container nav #nav_wrapper {
    height: 88px;
    border: 2px solid black;
}

#background_container #main_wrapper {
    height: calc(100% - 92px);
    border: 2px solid black;
}

#gamepass_container {
    height: 1300px;
    border: 2px solid black;
}

footer #footer_container {
    height: 285px;
    border: 2px solid black;
}


















