.gamepass__wrapper .addedRecently {
  padding-bottom: 11.5px;
}

.gamepass__wrapper .addedRecently .addedRecently__text {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
}

.gamepass__wrapper .addedRecently .addedRecently__content {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 11.5px;
  gap: 1rem;
  padding-right: 48px;
  padding-left: 48px;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: 0 1.8px 6px 0 rgba(0, 0, 0, 0.5);
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  img {
  max-width: 206px;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a:active::after {
  background-color: #0000001a;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  img {
  display: block;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__txt {
  width: 100%;
  padding: 4px 8px;
  line-height: 1.5;
  position: absolute;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.653);
  transform: translateY(100%);
  transition: 0.1s;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a:hover
  .addedRecently__content__card__txt {
  transform: translateY(0);
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__svg {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__svg__gamepass {
  height: 32px;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__svg__gamepass
  svg {
  margin: 8px;
  width: 26px;
  height: 16px;
  fill: white;
  background-color: #000000b3;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__svg__joypad {
  background-color: #000000b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-top-left-radius: 4px;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a:hover
  .addedRecently__content__card__svg
  .addedRecently__content__card__svg__joypad,
.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a:hover
  .addedRecently__content__card__svg
  .addedRecently__content__card__svg__gamepass {
  transform: translateY(100%);
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__svg__joypad
  svg {
  fill: white;
  border-top-left-radius: 4px;
}

.gamepass__wrapper
  .addedRecently
  .addedRecently__content
  .addedRecently__content__card
  a
  .addedRecently__content__card__txt
  span {
  color: white;
  float: left;
}

@media screen and (min-width: 1920px) {
  .gamepass__wrapper .addedRecently,
  .gamepass__wrapper .addedRecently .addedRecently__content {
    padding-bottom: 11.5px;
  }
  .gamepass__wrapper .addedRecently .addedRecently__content,
  .gamepass__wrapper .addedRecently .addedRecently__text {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1919px) {
  .gamepass__wrapper
    .addedRecently
    .addedRecently__content
    .addedRecently__content__card
    a
    img {
    max-width: 198px;
  }
}

@media screen and (max-width: 1365px) {
  .gamepass__wrapper .addedRecently,
  .gamepass__wrapper .addedRecently .addedRecently__content {
    padding-bottom: 7px;
  }
  .gamepass__wrapper
    .addedRecently
    .addedRecently__content
    .addedRecently__content__card
    a
    img {
    max-width: 173px;
  }
}

@media screen and (max-width: 1023px) {
  .gamepass__wrapper .addedRecently {
    padding-bottom: 6.5px;
  }
  .gamepass__wrapper .addedRecently .addedRecently__content {
    padding-bottom: 6.5px;
  }
  .gamepass__wrapper
    .addedRecently
    .addedRecently__content
    .addedRecently__content__card
    a
    img {
    max-width: 156px;
  }
}

@media screen and (max-width: 767px) {
  .gamepass__wrapper .addedRecently .addedRecently__content,
  .gamepass__wrapper .addedRecently .addedRecently__text {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 479px) {
  .gamepass__wrapper .addedRecently,
  .gamepass__wrapper .addedRecently .addedRecently__content {
    padding-bottom: 7px;
  }

  @-moz-document url-prefix() {
    .gamepass__wrapper .addedRecently,
    .gamepass__wrapper .addedRecently .addedRecently__content {
      padding-bottom: 14.5px;
    }
  }

  .gamepass__wrapper .addedRecently .addedRecently__content,
  .gamepass__wrapper .addedRecently .addedRecently__text {
    padding-left: 16px;
    padding-right: 16px;
  }
  .gamepass__wrapper
    .addedRecently
    .addedRecently__content
    .addedRecently__content__card
    a
    img {
    max-width: 128px;
  }
}
