.card_text {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
}

.h2 {
  font-family: Bahnschrift;
  color: white;
  font-size: 26px;
  font-weight: unset;
}

.mostra-tutto {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 125px;
  height: 25px;
  font-size: 16px;
  font-weight: unset;
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
}

.mostra-tutto:hover {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
}

@media screen and (max-width: 1365px) {
  .h2 {
    font-size: 20px;
  }
}
