.main__wrapper #cloud_wrapper .cloud_cards_container .cloud_cards a {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: 0 1.8px 6px 0 rgba(0, 0, 0, 0.5);
}

.main__wrapper #cloud_wrapper .cloud_cards_container .cloud_cards a img {
  display: block;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a
  .cloud_cards_txt {
  width: 100%;
  padding: 4px 8px;
  line-height: 1.5;
  position: absolute;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.653);
  transform: translateY(100%);
  transition: 0.1s;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a:hover
  .cloud_cards_txt {
  transform: translateY(0);
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a
  .svg_container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a
  .gamepass_img_container {
  height: 32px;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a
  .gamepass_img_container
  svg {
  margin: 8px;
  width: 26px;
  height: 16px;
  fill: white;
  background-color: #000000b3;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a
  .joypad_img_container {
  background-color: #000000b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-top-left-radius: 4px;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a:hover
  .svg_container
  .joypad_img_container,
.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a:hover
  .svg_container
  .gamepass_img_container {
  transform: translateY(100%);
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  a
  .joypad_img_container
  svg {
  fill: white;
  border-top-left-radius: 4px;
}

.main__wrapper
  #cloud_wrapper
  .cloud_cards_container
  .cloud_cards
  .cloud_cards_txt
  span {
  color: white;
  float: left;
}

@media screen and (min-width: 1920px) {
  .main__wrapper #cloud_wrapper .cloud_cards_container,
  .main__wrapper #cloud_wrapper .card_text {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .main__wrapper #cloud_wrapper .cloud_cards_container .cloud_cards a img {
    min-width: 156px;
  }
}

@media screen and (max-width: 767px) {
  .main__wrapper #cloud_wrapper .cloud_cards_container,
  .main__wrapper #cloud_wrapper .card_text {
    padding-left: 32px;
    padding-right: 32px;
  }
}
