.main__wrapper .firstItem .firstItem__content {
  padding: 88px 80px 20px 80px;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 37px;
  position: relative;
  gap: 16px;
}

.main__wrapper .firstItem .firstItem__content .firstItem__content__card {
  position: relative;
  box-shadow: 0px 1.8px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.main__wrapper .firstItem .firstItem__content .firstItem__content__card a {
  text-decoration: none;
  position: relative;
  display: block;
}

.main__wrapper .firstItem .firstItem__content .firstItem__content__card a img {
  max-width: 872px;
  display: block;
  border-radius: 5.6px;
  height: 100%;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a:hover:after {
  background-color: #ffffff1a;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a:active::after {
  background-color: #0000001a;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a
  .firstItem__content__card__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 16px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  line-height: 20px;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a
  .firstItem__content__card__text
  svg {
  height: 16px;
  width: 26px;
  fill: white;
  background-color: #000000b3;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a
  .firstItem__content__card__text
  h2 {
  color: white;
  font-size: 32px;
  font-family: Bahnschrift;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 16px;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a
  .firstItem__content__card__text
  p {
  color: white;
  font-size: 14px;
  margin-right: 56px;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a
  .firstItem__content__card__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #000000b3;
  border-top-left-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-bottom-right-radius: 4px;
}

.main__wrapper
  .firstItem
  .firstItem__content
  .firstItem__content__card
  a
  .firstItem__content__card__svg
  svg {
  fill: white;
}

@media screen and (max-width: 1919px) {
  .main__wrapper .firstItem .firstItem__content {
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 41px;
  }
  .main__wrapper
    .firstItem
    .firstItem__content
    .firstItem__content__card
    a
    img {
    max-width: 626px;
  }
}

@media screen and (max-width: 1365px) {
  .main__wrapper .firstItem .firstItem__content {
    margin-bottom: 28px;
  }
  .main__wrapper
    .firstItem
    .firstItem__content
    .firstItem__content__card
    a
    img {
    max-width: 551px;
  }
  .main__wrapper
    .firstItem
    .firstItem__content
    .firstItem__content__card
    a
    .firstItem__content__card__text
    h2 {
    font-size: 26px;
    margin-top: 14px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .main__wrapper .firstItem .firstItem__content {
    margin-bottom: 27px;
  }
  .main__wrapper
    .firstItem
    .firstItem__content
    .firstItem__content__card
    a
    img {
    width: min(500px, 100vw - 2 * 32px);
  }
}

@media screen and (max-width: 767px) {
  .main__wrapper .firstItem .firstItem__content {
    margin-bottom: 19px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 479px) {
  .main__wrapper .firstItem .firstItem__content {
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
  @-moz-document url-prefix() {
    .main__wrapper .firstItem .firstItem__content {
      padding-bottom: 15.5px;
      margin-bottom: 15.5px;
    }
  }
  .main__wrapper
    .firstItem
    .firstItem__content
    .firstItem__content__card
    a
    img {
    max-width: 272px;
    min-height: 272px;
    width: auto;
    object-fit: cover;
    object-position: top;
  }
}
