.gamepass__wrapper .sna {
  padding-bottom: 9.5px;
}

.gamepass__wrapper .sna .sna__content {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
  overflow-x: scroll;
  padding: 0 80px 9.5px 80px;
}

.gamepass__wrapper .sna .sna__text {
  font-family: Bahnschrift;
  color: white;
  font-size: 26px;
  font-weight: unset;
  margin-bottom: 16px;
  padding: 0 80px;
}

.gamepass__wrapper .sna .sna__content .sna__content__card a {
  display: flex;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  box-shadow: 0 1.8px 6px 0 rgba(0, 0, 0, 0.5);
}

.gamepass__wrapper .sna .sna__content .sna__content__card a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.gamepass__wrapper .sna .sna__content .sna__content__card a:active::after {
  background-color: #0000001a;
}

.gamepass__wrapper .sna .sna__content .sna__content__card a img {
  max-width: 306px;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.gamepass__wrapper .sna .svg_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gamepass__wrapper .sna .sna__content .sna__content__card__text {
  width: 100%;
  padding: 4px 8px;
  line-height: 1.5;
  position: absolute;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.653);
  transform: translateY(100%);
  transition: 0.1s;
}

.gamepass__wrapper .sna .sna__content a:hover .sna__content__card__text {
  opacity: 1;
  transform: translateY(0);
  bottom: 0;
  color: white;
}

.gamepass__wrapper .sna .sna__content .svg_container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gamepass__wrapper
  .sna
  .sna__content
  .sna__content__card
  a
  .gamepass_img_container {
  height: 16px;
  margin: 8px;
}

.gamepass__wrapper
  .sna
  .sna__content
  .sna__content__card
  a
  .gamepass_img_container
  svg {
  width: 26px;
  height: 16px;
  fill: white;
  background-color: #000000b3;
}

.gamepass__wrapper
  .sna
  .sna__content
  .sna__content__card
  a:hover
  .svg_container {
  transform: translateY(100%);
}

.gamepass__wrapper
  .sna
  .sna__content
  .sna__content__card
  a
  .joypad_img_container {
  background-color: #000000b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-top-left-radius: 4px;
}

.gamepass__wrapper
  .sna
  .sna__content
  .sna__content__card
  a
  .joypad_img_container
  svg {
  fill: white;
  border-top-left-radius: 4px;
}

@media screen and (max-width: 1919px) {
  .gamepass__wrapper .sna .sna__text,
  .gamepass__wrapper .sna .sna__content {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1365px) {
  .gamepass__wrapper .sna,
  .gamepass__wrapper .sna .sna__content {
    padding-bottom: 4.5px;
  }
  .gamepass__wrapper .sna .sna__content .sna__content__card a img {
    max-width: 297px;
  }
}

@media screen and (max-width: 1023px) {
  .gamepass__wrapper .sna .sna__content .sna__content__card a img {
    max-width: 258px;
  }
}

@media screen and (max-width: 767px) {
  .gamepass__wrapper .sna .sna__text,
  .gamepass__wrapper .sna .sna__content {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamepass__wrapper .sna .sna__content .sna__content__card a img {
    max-width: 244px;
  }
}

@media screen and (max-width: 479px) {
  .gamepass__wrapper .sna,
  .gamepass__wrapper .sna .sna__content {
    padding-bottom: 6.5px;
  }

  @-moz-document url-prefix() {
    .gamepass__wrapper .sna,
    .gamepass__wrapper .sna .sna__content {
      padding-bottom: 15px;
    }
  }

  .gamepass__wrapper .sna .sna__text,
  .gamepass__wrapper .sna .sna__content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .gamepass__wrapper .sna .sna__content .sna__content__card a img {
    max-width: 280px;
  }
}
