.svg-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__gamepass {
    height: 32px;
    svg {
      margin: 8px;
      width: 26px;
      height: 16px;
      fill: white;
      background-color: #000000b3;
    }
  }
  &__controller {
    background-color: #000000b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-top-left-radius: 4px;
    svg {
      fill: white;
      border-top-left-radius: 4px;
    }
  }
  a:hover &__controller,
  a:hover &__gamepass {
    transform: translateY(100%);
  }
}
